dist
defi.egg-info
defi/__pycache__/defi_tools.cpython-38.pyc
defi/__pycache__/main.cpython-38.pyc
defi/__pycache__/defi_tools.cpython-38.pyc
defi/__pycache__/defi_tools.cpython-38.pyc
.DS_Store
defi/.ipynb_checkpoints/Untitled-checkpoint.ipynb
defi/__pycache__/defi_tools.cpython-38.pyc
defi/__pycache__/defi_tools.cpython-38.pyc
